<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="csrf-token" content="<%= csrfToken %>" >
    
    <title>TCart API - Edit Product</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('../partials/header'); -%>
    <main>
        <h1>Edit Product</h1>
        <div class="id" style="display: none;"><%= product.id %></div>
        <%- include('../partials/productForm') -%>    
    </main>
    <script src="/js/product.js"></script>
    <script src="/js/editProduct.js"></script>
</body>
</html>